.what_i_do {
  background-color: #f0f0f0;

  .title {
    margin-bottom: 1.5em;
  }

  .service {
    width: 100%;
    background: white;
    border-radius: 4px;
    padding: 48px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out 0s;
    text-align: center;

    &:hover {
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }

    .the_icon {
      display: block;
      color: black;
    }

    h3 {
      margin-top: 1.5em;
      text-transform: uppercase;
    }
  }
}