.section_book {
  padding-top: 2em;
  padding-bottom: 3em;
  padding-left: 2em;
  padding-right: 2em;

  .image {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);

    .image_filter {
      filter: grayscale(100%);
    }

    .image_overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #000000;
      transition: 0.5s ease;
      opacity: 0.4;
      filter: grayscale(100%);
    }

    &:hover {
      .image_filter {
        filter: grayscale(0%);
      }

      .image_overlay {
        opacity: 0;
        filter: grayscale(0%);
      }
    }
  }

  .description {
    font-size: larger;
    line-height: 2;
    margin-bottom: 1em;
  }

  .button_text {
    margin-left: 1em;
  }
}
