.section_book {
  padding-top: 2em;
  padding-bottom: 3em;
  padding-left: 2em;
  padding-right: 2em;

  .description {
    font-size: larger;
    line-height: 2;
    margin-bottom: 1em;
  }

  .button_text {
    margin-left: 1em;
  }
}
