.section_projects {
  background-color: #f0f0f0;
  padding-bottom: 4em;

  .project_content {
    justify-content: center !important;
  }

  .image {
    .image_filter {
      filter: grayscale(100%);
    }
  
    .image_overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #000000;
      transition: 0.5s ease;
      opacity: 0.4;
      filter: grayscale(100%);
    }

    &:hover {
      .image_filter {
        filter: grayscale(0%);
      }

      .image_overlay {
        opacity: 0;
        filter: grayscale(0%);
      }
    }
  }
}
