@import '~bulma/sass/utilities/initial-variables';
$primary: black;
$family-primary: 'Quicksand', sans-serif;
@import '~bulma';

::selection {
  background: #dbdbdb;
}
::-moz-selection {
  background: #dbdbdb;
}

.button {
  border-radius: 100px;
  padding: 0.7em 1.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  line-height: 1;
  height: auto;
}

.section h1.title {
  margin-bottom: 1em;
}

.freeprojects_slider {
  border: 1px solid #ccc;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}