/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

:root {
  --main-family-font: 'Quicksand', sans-serif;
  --primary-background: #ffffff;
  --secondary-background: #f0f0f0;
  --dark-at-day: #000000;
  --dark-at-night: #1a202c;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: var(--main-family-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.6s ease, color 1s ease;
}

.prism-code {
  padding: 1rem;
}

.image .image-filter {
  filter: grayscale(100%);
}
.image .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-at-day);
  transition: 0.5s ease;
  opacity: 0.4;
  filter: grayscale(100%);
}
.image .image-overlay-night {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-at-night);
  transition: 0.5s ease;
  opacity: 0.4;
  filter: grayscale(100%);
}
.image:hover .image-filter {
  filter: grayscale(0%);
}
.image:hover .image-overlay {
  opacity: 0;
  filter: grayscale(0%);
}
.image:hover .image-overlay-night {
  opacity: 0;
  filter: grayscale(0%);
}

.first-section {
  background: url('../images/mac-development.jpg') center no-repeat;
  background-size: cover;
}

.first-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-at-day);
  opacity: 0.4;
}

.first-section .overlay-night {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-at-night);
  opacity: 0.4;
}

.icon-spacer svg {
  margin-left: .3em;
  margin-right: .3em;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
