.home_button {
  cursor: pointer;
}

.navbar_scrolled {
  background-color: white !important;
}

.link_navbar_scrolled {
  color: black;
  &:hover {
    color: black !important;
    background-color: transparent !important;
  }
}

.link_navbar_unscrolled {
  color: white;
  &:hover {
    color: white !important;
    background-color: transparent !important;
  }
}